*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
.todo-container{
    width: 600px;
    margin: 30px auto 0;
    background-color: #F6F6F6;
}
.todo-container .add-task{
    padding: 15px;
    background-color: #009688;
    position: relative;
}
.todo-container .add-task input{
    display: inline-block;
    padding: 10px 15px;
    border: none;
    background-color: rgba(255,255,255,.3);
    width: calc(100% - 15px);
    color: #FFF;
    font-size: 20px;
}
.todo-container .add-task input:focus{
    outline: none;
}
.todo-container .add-task .plus{
    position: absolute;
    height: 43px;
    width: 43px;
    background-color: #FFF;
    right: 12px;
    border-radius: 50%;
    text-align: center;
    color: #009688;
    cursor: pointer;
    font-size: 38px;
    transition: transform .3s
}
.todo-container .add-task .plus:hover{
    transform: rotate(90deg);
}
.todo-container .tasks-content{
    padding: 15px;
}
.todo-container .tasks-content .no-tasks-messages{
    color: #777;
    font-size: 15px;
}
.todo-container .tasks-content > span {
    display: block;
    background-color: #FFF;
    padding: 10px
}
.todo-container .tasks-content > span:not(:last-child){
    margin-bottom: 10px
}
.todo-container .tasks-content .task-box .delete{
    float:right;
    background-color: #E91E63;
    padding: 4px 10px;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}.todo-container .tasks-content .task-box.finished{
    text-decoration: line-through;
}
.tasks-status{
    overflow: hidden;
    margin: 10px auto;
    width: 600px;
    font-size: 12px;

}
.tasks-status .tasks-count{
    width: 50%;
    float: left;
    padding: 10px;
}
.tasks-status .tasks-completed{
    width: 50%;
    float: right;
    padding: 10px;
    text-align: right
}
.tasks-status .tasks-count span,
.tasks-status .tasks-completed span{
    color: rgb(231, 231, 231);
    padding: 1px 5px;
    font-size: 9px;
    border-radius: 2px;
    font-weight: bold;

}
.tasks-status .tasks-count span{
    background-color: #E91E63;
}
.tasks-status .tasks-completed span{
    background-color: #03A9F4;
}